In [1]:
import os
Data_Path = os.path.join('F:\Hiring Challenge', 'ds_data')

In [2]:
import pandas as pd
def load_data(filename, path = Data_Path):
    filepath = os.path.join(path, filename)
    return pd.read_csv(filepath)

In [3]:
train = load_data('data_train.csv')
testf = load_data('data_test.csv')

In [4]:
train.describe()

,id,num1,num2,num3,num4,num5,num6,num7,num8,num9,...,cat6,cat7,cat8,cat9,cat10,cat11,cat12,cat13,cat14,target
count,596000.000000,596000.000000,596000.000000,596000.000000,596000.000000,596000.000000,596000.000000,596000.000000,596000.000000,596000.000000,...,184208.000000,596000.000000,329072.000000,596000.000000,584497.000000,596000.000000,595430.000000,596000.000000,596000.000000,596000.000000
mean,297999.500000,1.900423,4.423356,0.393743,0.257015,0.163933,0.185309,0.000374,0.001693,0.009435,...,0.601744,0.725106,0.525365,6.555000,0.947608,0.832077,1.331161,0.992136,62.215570,0.036436
std,172050.524555,1.983855,2.699861,0.488579,0.436988,0.370215,0.388548,0.019340,0.041111,0.096672,...,0.489540,2.153319,0.499357,5.501419,0.222817,0.373798,0.976544,0.091613,33.012105,0.187373
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000
25%,148999.750000,0.000000,2.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,1.000000,1.000000,1.000000,0.000000,1.000000,32.000000,0.000000
50%,297999.500000,1.000000,4.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,1.000000,0.000000,1.000000,7.000000,1.000000,1.000000,2.000000,1.000000,65.000000,0.000000
75%,446999.250000,3.000000,6.000000,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,1.000000,0.000000,1.000000,11.000000,1.000000,1.000000,2.000000,1.000000,93.000000,0.000000
max,595999.000000,7.000000,11.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,1.000000,9.000000,1.000000,17.000000,1.000000,1.000000,4.000000,2.000000,104.000000,1.000000

In [5]:
corr_matrix = train.corr()
corr_matrix['target'].sort_values(ascending=False)

target    1.000000
num21     0.053946
num20     0.038818
num14     0.037056
num17     0.034791
num4      0.034255
num18     0.033741
cat7      0.032909
cat3      0.032223
num23     0.027699
num16     0.022939
cat6      0.020601
num1      0.018571
cat4      0.017353
num5      0.013135
num22     0.011727
cat9      0.011579
cat2      0.010176
num2      0.008283
num9      0.007977
num11     0.007556
cat14     0.006105
cat12     0.005949
cat1      0.005582
num15     0.004518
num10     0.002448
num8      0.002012
der3      0.001921
der1      0.001814
num7      0.001794
der14     0.001409
der2      0.001364
der10     0.001028
cat13     0.000956
cat8      0.000830
der5      0.000756
der9      0.000723
der16     0.000665
der18     0.000505
der11     0.000384
der6      0.000113
der4      0.000023
der7     -0.000101
der17    -0.000173
id       -0.000292
der13    -0.000430
der15    -0.000483
der8     -0.000960
der12    -0.001195
num19    -0.001249
der19    -0.001774
num6     -0.008254
cat10    -0.019692
cat11    -0.020300
num12    -0.021564
num13    -0.027725
cat5     -0.031532
num3     -0.034026
Name: target, dtype: float64

In [6]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 596000 entries, 0 to 595999
Data columns (total 58 columns):
id        596000 non-null int64
num1      596000 non-null int64
num2      596000 non-null int64
num3      596000 non-null int64
num4      596000 non-null int64
num5      596000 non-null int64
num6      596000 non-null int64
num7      596000 non-null int64
num8      596000 non-null int64
num9      596000 non-null int64
num10     596000 non-null int64
num11     596000 non-null int64
num12     596000 non-null int64
num13     596000 non-null int64
num14     596000 non-null int64
num15     596000 non-null int64
num16     596000 non-null float64
num17     596000 non-null float64
num18     488091 non-null float64
num19     595995 non-null float64
num20     595999 non-null float64
num21     596000 non-null float64
num22     553333 non-null float64
num23     596000 non-null float64
der1      596000 non-null float64
der2      596000 non-null float64
der3      596000 non-null float64
der4      596000 non-null int64
der5      596000 non-null int64
der6      596000 non-null int64
der7      596000 non-null int64
der8      596000 non-null int64
der9      596000 non-null int64
der10     596000 non-null int64
der11     596000 non-null int64
der12     596000 non-null int64
der13     596000 non-null int64
der14     596000 non-null int64
der15     596000 non-null int64
der16     596000 non-null int64
der17     596000 non-null int64
der18     596000 non-null int64
der19     596000 non-null int64
cat1      595783 non-null float64
cat2      595917 non-null float64
cat3      590186 non-null float64
cat4      595893 non-null float64
cat5      595995 non-null float64
cat6      184208 non-null float64
cat7      596000 non-null int64
cat8      329072 non-null float64
cat9      596000 non-null int64
cat10     584497 non-null float64
cat11     596000 non-null int64
cat12     595430 non-null float64
cat13     596000 non-null int64
cat14     596000 non-null int64
target    596000 non-null int64
dtypes: float64(20), int64(38)
memory usage: 263.7 MB

In [7]:
#Transformer to handle Pandas Dataframas
from sklearn.base import BaseEstimator, TransformerMixin

class DataFrameSelector(BaseEstimator, TransformerMixin):
    def __init__(self, attribute_names):
        self.attribute_names = attribute_names
    def fit(self, X, y=None):
        return self
    def transform(self, X):
        return X[self.attribute_names].values

In [8]:
y_train = train['target']

train = train.drop('target', axis=1)

In [9]:
train.head()

,id,num1,num2,num3,num4,num5,num6,num7,num8,num9,...,cat5,cat6,cat7,cat8,cat9,cat10,cat11,cat12,cat13,cat14
0,0,2,5,0,1,0,0,0,0,0,...,1.0,NaN,0,1.0,4,1.0,0,0.0,1,12
1,1,1,7,0,0,1,0,0,0,0,...,1.0,NaN,0,NaN,11,1.0,1,2.0,1,19
2,2,5,9,0,0,1,0,0,0,0,...,1.0,NaN,0,NaN,14,1.0,1,2.0,1,60
3,3,0,2,1,0,0,0,0,0,0,...,1.0,0.0,0,1.0,11,1.0,1,3.0,1,104
4,4,0,0,1,0,0,0,0,0,0,...,1.0,NaN,0,NaN,14,1.0,1,2.0,1,82

In [10]:
y_train.value_counts()

0    574284
1     21716
Name: target, dtype: int64

In [11]:
#Pipeline to fill in the missing values
from sklearn.pipeline import Pipeline
from sklearn.preprocessing import Imputer, StandardScaler

imputer = Imputer(strategy='median')

pipeline = Pipeline([
    ('selector', DataFrameSelector(['num1','num2','num3','num4','num5','num6','num7','num8','num9','num10','num11','num12',
                                    'num13','num14','num15','num16','num17','num18','num19','num20','num21','num22','num23',
                                   'der1','der2','der3','der4','der5','der6','der7','der8','der9','der10','der11','der12',
                                   'der13','der14','der15','der16','der17','der18','der19','cat1','cat2','cat3','cat4',
                                   'cat5','cat6','cat7','cat8','cat9','cat10','cat11','cat12','cat13','cat14'])),
    ('imputer', Imputer(strategy='median')),
    ('std_scaler',StandardScaler()),
 ])

In [12]:
X_train = pipeline.fit_transform(train)

In [13]:
from sklearn.decomposition import PCA

pca = PCA(n_components=0.95)
X_reduced = pca.fit_transform(X_train)

In [14]:
X_reduced

array([[ 0.87498517,  0.23034594, -0.33663761, ..., -0.37904416,
         0.29039095,  0.07922449],
       [-0.70076566,  0.93770529,  0.01515911, ..., -0.27340284,
        -0.85668379,  0.05944689],
       [-1.27186634, -1.23433499,  0.6515113 , ..., -0.18037357,
        -0.90526267, -0.58808417],
       ...,
       [ 1.14116258, -1.64190152,  2.82377789, ..., -0.88259954,
         0.67837766,  1.19661677],
       [-1.56251329,  1.42957116, -1.04164134, ..., -0.59710996,
         0.13576973,  0.13944397],
       [-0.96889079, -0.17250695, -0.76956331, ..., -0.52543865,
        -0.63917307,  0.59997647]])

In [16]:
X_test = pipeline.transform(testf)
X_test_reduced = pca.fit_transform(X_test)

In [17]:
X_test_reduced

array([[-1.29944169, -0.56246936, -0.11671095, ..., -0.14813976,
         0.68307836, -0.83954001],
       [-1.07192895, -0.65984445,  1.17403356, ...,  0.05745134,
         0.28759787,  0.11436269],
       [ 0.47641356, -0.65269361,  0.39836067, ...,  0.41012597,
        -1.36263766, -0.21513177],
       ...,
       [-0.30940298,  1.36075236, -2.52005747, ..., -0.13785228,
        -0.34814271, -0.21858161],
       [ 0.96827022, -1.85133955,  1.95129699, ..., -1.30337626,
         0.91924522,  0.21633   ],
       [-0.92134692, -1.26574249,  3.00766185, ..., -0.0522787 ,
         0.52021027,  0.20559732]])

In [18]:
from sklearn.linear_model import LogisticRegression

log_clf = LogisticRegression(random_state=42)
log_clf.fit(X_reduced,y_train)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='ovr', n_jobs=1,
          penalty='l2', random_state=42, solver='liblinear', tol=0.0001,
          verbose=0, warm_start=False)

In [19]:
from sklearn.model_selection import cross_val_score
log_scores = cross_val_score(log_clf,X_reduced,y_train, cv=5)
log_scores.mean()

0.9635637584023119

In [21]:
from sklearn.ensemble import RandomForestClassifier

forest_clf = RandomForestClassifier(random_state=42)
forest_clf.fit(X_reduced, y_train)

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
            max_depth=None, max_features='auto', max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, n_estimators=10, n_jobs=1,
            oob_score=False, random_state=42, verbose=0, warm_start=False)

In [22]:
from sklearn.model_selection import cross_val_score
forest_scores = cross_val_score(forest_clf, X_reduced, y_train, cv=5)
forest_scores.mean()

0.9635788592423647

In [26]:
from sklearn.ensemble import GradientBoostingClassifier
gb_clf = GradientBoostingClassifier(n_estimators=600, learning_rate=0.5, max_depth=3, random_state=0)
gb_clf.fit(X_reduced, y_train)

GradientBoostingClassifier(criterion='friedman_mse', init=None,
              learning_rate=0.5, loss='deviance', max_depth=3,
              max_features=None, max_leaf_nodes=None,
              min_impurity_decrease=0.0, min_impurity_split=None,
              min_samples_leaf=1, min_samples_split=2,
              min_weight_fraction_leaf=0.0, n_estimators=600,
              presort='auto', random_state=0, subsample=1.0, verbose=0,
              warm_start=False)

In [27]:
from sklearn.model_selection import cross_val_score
gb_scores = cross_val_score(gb_clf, X_reduced, y_train, cv = 5)
gb_scores.mean()

0.9593590611757229

In [28]:
y_test_gb = gb_clf.predict(X_test_reduced)

In [33]:
pred = {'target' : y_test_gb}
target = pd.DataFrame(pred)
print(target)

        target
0            0
1            0
2            0
3            0
4            0
5            0
6            0
7            0
8            0
9            0
10           0
11           0
12           0
13           0
14           0
15           0
16           0
17           0
18           0
19           0
20           0
21           0
22           0
23           0
24           0
25           0
26           0
27           0
28           0
29           0
...        ...
892786       0
892787       0
892788       0
892789       0
892790       0
892791       0
892792       0
892793       0
892794       0
892795       0
892796       0
892797       0
892798       0
892799       0
892800       0
892801       0
892802       0
892803       0
892804       0
892805       0
892806       0
892807       0
892808       0
892809       0
892810       0
892811       0
892812       0
892813       0
892814       0
892815       0

[892816 rows x 1 columns]

In [37]:
final = pd.concat([testf, target], axis= 1, join = 'inner')

print(final.head())

   id  num1  num2  num3  num4  num5  num6  num7  num8  num9   ...    cat6  \
0   0     0     8     0     1     0     0     0     0     0   ...     NaN
1   1     4     5     0     0     0     1     0     0     0   ...     NaN
2   2     5     3     0     0     0     1     0     0     0   ...     NaN
3   3     0     6     1     0     0     0     0     0     0   ...     NaN
4   4     5     7     0     0     0     1     0     0     0   ...     NaN

   cat7  cat8  cat9  cat10  cat11  cat12  cat13  cat14  target
0     0   NaN     1    1.0      1    2.0      1     65       0
1     0   0.0    11    1.0      1    0.0      1    103       0
2     0   NaN    14    1.0      1    2.0      1     29       0
3     0   NaN     1    1.0      1    2.0      1     40       0
4     0   NaN    11    1.0      1    2.0      1    101       0

[5 rows x 58 columns]

In [38]:
result = final[['id', 'target']]
print(result)

             id  target
0             0       0
1             1       0
2             2       0
3             3       0
4             4       0
5             5       0
6             6       0
7             8       0
8            10       0
9            11       0
10           12       0
11           14       0
12           15       0
13           18       0
14           21       0
15           23       0
16           24       0
17           25       0
18           27       0
19           29       0
20           30       0
21           31       0
22           32       0
23           33       0
24           37       0
25           38       0
26           39       0
27           40       0
28           41       0
29           42       0
...         ...     ...
892786  1487982       0
892787  1487984       0
892788  1487985       0
892789  1487986       0
892790  1487987       0
892791  1487989       0
892792  1487991       0
892793  1487993       0
892794  1487995       0
892795  1487997       0
892796  1487998       0
892797  1487999       0
892798  1488000       0
892799  1488002       0
892800  1488003       0
892801  1488004       0
892802  1488006       0
892803  1488007       0
892804  1488010       0
892805  1488012       0
892806  1488014       0
892807  1488015       0
892808  1488018       0
892809  1488019       0
892810  1488020       0
892811  1488022       0
892812  1488023       0
892813  1488024       0
892814  1488025       0
892815  1488026       0

[892816 rows x 2 columns]

In [39]:
result.to_csv('F:\Challenge Outputs\Quartic.ai Hiring Challenge.csv')

In [40]:
result['target'].value_counts()

0    882639
1     10177
Name: target, dtype: int64